<%= render "layouts/header" %>
<div class="page">
<h1 class="main-greeting">
    Howdy, <span><%= @client.user.username %></span>
    <!-- <%= image_tag @client.user.profile_picture %> -->
</h1>
<div id="feed-container"></div>
<style type="text/css">

</style>

<script id="image-template" type="text/x-handlebars-template">
    <div class="image-container">
        <div class="user-metadata">
            <div class="avatar">
                <img src={{user.profile_picture}} width=80>
            </div>
            <div class="info">
                <p class="name"> {{user.username}} </p>
                <p class="time"> {{timeago created_time}} </p>
            </div>
        </div>
        <div class="location">{{distance location}} from you</div>
        <img src={{images.standard_resolution.url}}>
        <div class="image-metadata">
            <div class="buzz">
                <span class="icon-heart"> {{likes.count}}</span>
                <span class="icon-bubble"> {{comments.count}}</span>
            </div>
            <div class="caption">
                <p>{{{caption.text}}}</p>
            </div>
        </div>
    </div>
</script>

<script id="image-detail-template" type="text/x-handlebars-template">
    <div class="image-detail-container">
        <img src={{images.standard_resolution.url}}>
        <p>
            <p>
                {{user.username}} <img src={{user.profile_picture}}>
            </p>
            <p>
                {{timeago created_time}}
            </p>
            likes: {{likes.count}}
            comments: {{comments.count}}
            {{#if comments.data}}
                tags
                {{#each comments.data}}
                    <p class="comment">
                    {{timeago this.created_time}}
                    <p>{{this.text}}</p>
                    </p>
                {{/each}}
            {{else}}
                <p class="no-comment">no comments</p>
            {{/if}}
        </p>
    </div>
</script>

<script type="text/javascript">
    var longitude = 0, latitude = 0;
    Handlebars.registerHelper('timeago', function(timestamp) {
      return moment.unix(timestamp).startOf('second').fromNow();
    });
    Handlebars.registerHelper('distance', function(coordinates) {
        if(coordinates !== null){
            var name =  coordinates.name !== undefined ? "(" + coordinates.name + ")" : ''
            return distance(coordinates.latitude, coordinates.longitude, latitude, longitude, 'K').toFixed(1) + " Km" + name;
        } else {
            return "unknown"
        }
    });
    emojify.setConfig({
        img_dir          : '/assets/emoji'
    });

    $("#feed-container").html("LOADING...");
    navigator.geolocation.getCurrentPosition(loadPosition)

    function distance(lat1, lon1, lat2, lon2, unit) {
        var radlat1 = Math.PI * lat1/180
        var radlat2 = Math.PI * lat2/180
        var radlon1 = Math.PI * lon1/180
        var radlon2 = Math.PI * lon2/180
        var theta = lon1-lon2
        var radtheta = Math.PI * theta/180
        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        dist = Math.acos(dist)
        dist = dist * 180/Math.PI
        dist = dist * 60 * 1.1515
        if (unit=="K") { dist = dist * 1.609344 }
        if (unit=="N") { dist = dist * 0.8684 }
        return dist
    }

    function loadPosition(oPosition) {
        longitude = oPosition.coords.longitude;
        latitude = oPosition.coords.latitude;
        $.ajax({
          type: "GET",
          url: "/api/get_location_ids.json?long="+oPosition.coords.longitude + "&lat="+ oPosition.coords.latitude,
          success:function(oResult){
            $("#feed-container").html("");
            for (var i = 0; i < oResult.length; i++) {
                var oImage = oResult[i];
                if(oImage.caption)
                    oImage.caption.text = emoji.replace_unified(oImage.caption.text);
                var source   = $("#image-template").html();
                var template = Handlebars.compile(source);
                var html    = template(oImage);
                $("#feed-container").append(html);
                 emojify.run();
            };
          },
          done: function(){

          }
        })
    }
</script>

</div><!-- page/gridcontainer -->
