<div class="splash-top-wrapper">
    <div class="page">
        <h1>This is Instalurk</h1>
        <p class="splash-description">
            Looking for dickpics, hamster butts and/or cats? Do you like emoji-abuse, duck-mouths and pictures of food?
            you have come to the right place.
            <br>
            <br>
            Enjoy!
        </p>
      <a href="/oauth/connect" class="button login-button">Connect with Instagram</a>
    </div>
   
</div>
 <%if @logout %>
    <%= render "logout" %>
 <%end%>