
    <div class="splash-welcome-container">
            <div class="page">
                <div class="icon-pictoloc_org"></div>
                <p class="splash-description">
                    Looking for dick pics, hamster butts and/or cats? Do you like emoji-abuse, duck-mouths and pictures of food?
                    You have come to the right place.<br>All of the above, and in your proximity no less.
                </p>
              <a href="/oauth/connect" class="button login-button"><span class="icon-instagram"></span>Connect with Instagram</a>
            </div>
    </div>

 <%if @logout %>
    <%= render "logout" %>
 <%end%>

</div>

