// ==========================================================================
//   Buttons
// ==========================================================================

$login-button: #2A9DBB;

.login-button {
    padding: $gen-padding;
    background-color: $login-button;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    border-radius: 4px;
    @include bg-transition;
    &:hover {
        background-color: lighten($login-button, 5);
        color: #fff;
    }
}