// ==========================================================================
//   Header
// ==========================================================================

.header-wrapper {
    @include clearfix;
    position: relative;
    height: 45px;
    background-color: rgba(157, 79, 187, 0.85);
    color: #fff;
    padding: 0 $gen-padding;
    p {
        margin-bottom: 0;
    }
    .settings-btn {
        position: absolute;
        padding: 10px;
        left: 0;
        font-size: 20px;
        cursor: pointer;
    }
    .icon-pictoloc_org {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 52px;
        height: 25px;
        display: inline-block;
        margin: 10px 0;
    }
    .header-nav-container {
        float: right;
        margin-right: 2em;
        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            height: 45px;
            line-height: 45px;
            //padding-right: $gen-padding;
            //text-transform: uppercase;
            //font-size: 90%;
            //letter-spacing: 0.1rem;
            @include link-transition;
            &:hover {
               color: #e8d6ef
            }
        }
    }
    .header-avatar-container {
        @include clearfix;
        position: relative;
        float: right;
        height: 45px;
        line-height: 45px;
        //border-left: 1px solid #a45bc0;
        padding: 0 0 0 $gen-padding;
        //padding: 6px 0 8px 0;
        cursor: pointer;
        img {
            max-height: 24px;
            border-radius: 100%;
        }
        span {
            margin-right: $gen-padding;
            // margin-left: 2rem;
            padding-left: 2rem;
            display: none;
        }
        .dropdown {
            position: absolute;
            min-width: 200px;
            top: 100%;
            right: 0;
            background-color: rgba(157, 79, 187, 0.85);
            line-height: 1.4;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-top: 2px solid #fff;
            z-index: 100;
            &:before {
                content: "";
                position: absolute;
                border-bottom: 7px solid #fff;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                top: -8px;
                right: 7px;
                @include breakpoint($medium-columns) {
                    right: auto;
                    left: calc(50% - 3px);
                }
            }
            ul {
                list-style-type: none;
                padding: $gen-padding 0;
                margin: 0;
            }
            li a {
                display: block;
                padding: $small-padding $gen-padding;
                color: #fff;
                &:hover {
                    background-color: rgba(157, 79, 187, 1);
                }
            }
        }
    }
    @include breakpoint($medium-columns) {
        .header-avatar-container span {
            display: inline-block;
        }
    }
}