.image-container {
    background: #fff;
    padding: 1em;
    border-radius: 3px;
    .user-metadata {
        color: $dark;
        .avatar {
            float: left;
            img {
                width: 40px;
                height: 40px;
                border-radius: 3px;
            }
        }
        .info {
            display: inline-block;
        }
        .name, .time {
            padding: 0 0.5rem 0 0.5rem;
            margin: 0;
            vertical-align: top;
        }
        .time {
            font-size: 0.7rem;
            color: lighten($dark, 15);
        }
    }
    img {
        border-radius: 3px;
    }
    .image-metadata {
    }
}