.image-container {
    background: #fff;
    padding: 1em;
    border-radius: 3px;
    opacity: 0;
    animation: opacity 0.5s normal forwards ease-in-out;
    .user-metadata {
        color: $dark;
        .avatar {
            float: left;
            img {
                width: 40px;
                height: 40px;
                border-radius: 3px;
            }
        }
        .info {
            display: inline-block;
        }
        .name, .time {
            padding: 0 0.5rem 0 0.5rem;
            margin: 0;
            vertical-align: top;
        }
        .time {
            font-size: 0.7rem;
            color: lighten($dark, 15);
        }
    }
    .location {
        @include ellipsed-end;
        padding: .5em;
        margin: .5em 0;
        border-radius: 2px;
        background-color: darken($light-gray, 5);
        font-weight: bold;
    }
    img {
        border-radius: 3px;
    }
    .image-metadata {
        .buzz {
            margin: 0.5rem 0;
        }
        .caption {
            p {
                @include ellipsed-end;
                word-break: break-word;
            }
            p:before {
            content: ".";
            color: transparent;
            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0
    }
    100%  {
        opacity: 1;
    }
}