$medium-columns: 40rem;
$large-columns: 65rem;

$susy: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: split,
);

.page {
    @include container(80%);
}

.image-container {
    @include span(12);
    margin-bottom: 1em;
    @include breakpoint($medium-columns) {
        @include span(6);
    }
    @include breakpoint($large-columns) {
        @include span(4);
    }
}