$medium-columns: 40rem;
$large-columns: 65rem;
$mcdonalds-columns: 80em;

$susy: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: split,
);

$anchor: 1;
$side: 12 - $anchor;

.page {
    @include span(12);
    margin-right: -100%;
    -webkit-transform: translate3d(0,0,0);
}

.settings-area {
    @include span($side);
    background-color: darken($primary-color, 20);
    color: #fff;
    box-shadow: inset -2px 0 10px darken($primary-color, 30);
    height: 100%;
    padding: 0 1em;
    margin-left: -100%;
    transition: margin 0.3s ease;
    .settings-area-active & {
        margin-left: 0;
    }
    @include breakpoint($medium-columns) {
        @include span($side / 2);
        padding: 0 1em;
        margin-left: -100%;
    }
}

#feed-container {
    @include container;
}

.image-container {
    @include span(12);
    margin-bottom: 1em;
    @include breakpoint($medium-columns) {
        @include span(6);
    }
    @include breakpoint($large-columns) {
        @include span(4);
    }
    @include breakpoint($mcdonalds-columns) {
        @include span(3);
    }
}