// ==========================================================================
//   Splash Page
// ==========================================================================

.splash-cover-image {
    height: 100%;
    background: url(/assets/instalurk_party_bus.jpg) no-repeat center center fixed;
    background-size: cover;
}

.splash-welcome-container {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    background-color: rgba(157, 79, 187, 0.85);
    text-align: center;
    padding: 0 0 3rem 0;
    font-weight: 100;
    line-height: 1.7;
    h1 {
        display: inline-block;
        font-size: 3rem;
        color: #fff;
    }
    span {
        position: relative;
        top: 4px;
        margin-right: 0.5rem;
        font-size: 20px;
    }
}

.splash-description {
    font-size: 1.5rem;
    //text-align: center;
    padding: 0 5rem;
    color: #fff;
    padding-bottom: 2em;
}