// ==========================================================================
//   Splash Page
// ==========================================================================

.splash-welcome-container {
    @include clearfix;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    background-color: rgba(157, 79, 187, 0.85);
    text-align: center;
    padding: 3rem 0 4rem 0;
    font-weight: 100;
    line-height: 1.7;
    .icon-pictoloc_org {
        margin: 1em auto;
        height: 180px;
        width: 376px;
    }
    h1 {
        display: inline-block;
        font-size: 3rem;
        color: #fff;
    }
    span {
        position: relative;
        top: 4px;
        margin-right: 0.5rem;
        font-size: 20px;
    }
}

.splash-description {
    font-size: 1.5rem;
    //text-align: center;
    padding: 2rem 0;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2em;
}