<!-- Header navbar start -->
<div class="header-wrapper">
    <span class="logo-name"><span class="icon-instagram"></span> <img src="/assets/pictoloc.png" /></span>
    <div id="profile-btn" class="header-avatar-container">
        <span><%= @client.user.username %></span><%= image_tag @client.user.profile_picture %>
        <div id="profile-dropdown" class="dropdown">
            <ul>
                <li>
                    <a href="javascript:;">Settings</a>
                </li>
                <li>
                    <a href="/oauth/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>