<!-- Header navbar start -->
<div class="header-wrapper">
    <span class="logo-name"><span class="icon-instagram"></span> Instalurk</span>
    <div class="header-avatar-container">
        <span><%= @client.user.username %></span><%= image_tag @client.user.profile_picture %>
    </div>
    <div class="header-nav-container">
        <a href="#">Settings</a>
        &nbsp;|&nbsp;
        <a href="/oauth/logout">Logout</a>
    </div>
</div>